# IRIS PROJECT
nel notebook di oggi creiamo un modello keras che predice la varietà di iris (**Virginica, Versicolor, Setosa**) da quattro semplici caratteristiche:
- lunghezza sepalo
- larghezza sepalo
- lunghezza petalo
- larghezza petalo

In [416]:
# importiamo le librerie necessarie 
import tensorflow as tf
import keras
import pandas as pd
import numpy as np

In [417]:
# importiamo il dataset degli iris da cui ricaveremo i dati
ds = pd.read_csv("iris dataset/iris.csv")

In [418]:
# visualizziamone la testa
ds.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [419]:
# visualizziamone la dimensione
ds.shape

(150, 5)

In [420]:
# rimappo le varietà in modo tale che anziché avere una colonna che indica il tipo abbiamo tre colonne che indicano se
# la riga i-esima appartiene al tipo Virginica, Versicolor o Setosa
varieta = {"Virginica" : (1, 0 , 0), "Versicolor" : (0, 1, 0), "Setosa" : (0, 0, 1)}
ds["variety"] = ds["variety"]. map(varieta)
n_d = pd.DataFrame(ds["variety"].tolist(), columns=varieta.keys())
del ds["variety"] # rimuoviamo la colonna variety
ds = pd.concat([ds, n_d], axis = 1) # aggiungiamo le tre nuove colonne

In [421]:
# visualizziamo come è cambiato il dataset
ds.head()

,sepal.length,sepal.width,petal.length,petal.width,Virginica,Versicolor,Setosa
0,5.1,3.5,1.4,0.2,0,0,1
1,4.9,3.0,1.4,0.2,0,0,1
2,4.7,3.2,1.3,0.2,0,0,1
3,4.6,3.1,1.5,0.2,0,0,1
4,5.0,3.6,1.4,0.2,0,0,1

In [422]:
from sklearn.model_selection import train_test_split

In [423]:
# splittiamo il data set in parte di training ed in parte di testing
train, test = train_test_split(ds, test_size= 0.3)

In [424]:
# visualizziamo la testa della parte di training
train.head()

,sepal.length,sepal.width,petal.length,petal.width,Virginica,Versicolor,Setosa
83,6.0,2.7,5.1,1.6,0,1,0
22,4.6,3.6,1.0,0.2,0,0,1
103,6.3,2.9,5.6,1.8,1,0,0
35,5.0,3.2,1.2,0.2,0,0,1
106,4.9,2.5,4.5,1.7,1,0,0

In [425]:
# visualizziamo la testa della parte di testing
test.head()

,sepal.length,sepal.width,petal.length,petal.width,Virginica,Versicolor,Setosa
36,5.5,3.5,1.3,0.2,0,0,1
38,4.4,3.0,1.3,0.2,0,0,1
46,5.1,3.8,1.6,0.2,0,0,1
96,5.7,2.9,4.2,1.3,0,1,0
42,4.4,3.2,1.3,0.2,0,0,1

In [426]:
# costruiamo il modello : usiamo la classe Model della libreria keras
inputs = keras.Input(shape=(4,)) # gli input sono 4
x = keras.layers.Dense(64, activation="relu")(inputs) # inseriamo due layer densi di 64 e 32 nodi ciascuni con relu come funzione d'attivazione
y = keras.layers.Dense(32, activation="relu")(x)
outputs = keras.layers.Dense(3, activation="softmax")(y) # l'output finale è semplicemente un layer probabilistico a 3 nodi 
iris_model = keras.Model(inputs=inputs, outputs=outputs)
iris_model.compile(optimizer=keras.optimizers.Adam(), loss= keras.losses.CategoricalCrossentropy() , metrics=[keras.metrics.CategoricalAccuracy()])
# dobbiamo settare la loss e la accuracy usando le relative categorical_ poiché stiamo usando più di 2 classi

In [427]:
# suddividiamo il training ed il testing set in base a dominio ed immagine
x = train.iloc[ : , : 4]
y = train.iloc[ : , 4 :]
x_t = test.iloc[ : , : 4]
y_t = test.iloc[ : , 4 :]

In [428]:
# alleniamo il modello
iris_model.fit(x, y, batch_size=10, epochs = 25, validation_data = (x_t, y_t), verbose = 2)

Epoch 1/25

11/11 - 1s - 133ms/step - categorical_accuracy: 0.3714 - loss: 0.9914 - val_categorical_accuracy: 0.2444 - val_loss: 0.9468
Epoch 2/25
11/11 - 0s - 5ms/step - categorical_accuracy: 0.6952 - loss: 0.8616 - val_categorical_accuracy: 0.7333 - val_loss: 0.8149
Epoch 3/25
11/11 - 0s - 5ms/step - categorical_accuracy: 0.7619 - loss: 0.7612 - val_categorical_accuracy: 0.6444 - val_loss: 0.7327
Epoch 4/25
11/11 - 0s - 5ms/step - categorical_accuracy: 0.6762 - loss: 0.6863 - val_categorical_accuracy: 0.6444 - val_loss: 0.6617
Epoch 5/25
11/11 - 0s - 5ms/step - categorical_accuracy: 0.6762 - loss: 0.6072 - val_categorical_accuracy: 0.6667 - val_loss: 0.5842
Epoch 6/25
11/11 - 0s - 5ms/step - categorical_accuracy: 0.8571 - loss: 0.5276 - val_categorical_accuracy: 0.9111 - val_loss: 0.4908
Epoch 7/25
11/11 - 0s - 5ms/step - categorical_accuracy: 0.9619 - loss: 0.4742 - val_categorical_accuracy: 0.8667 - val_loss: 0.4465
Epoch 8/25
11/11 - 0s - 5ms/step - categorical_accuracy: 0.9429 - loss: 0.4231 - val_categorical_accuracy: 0.8667 - val_loss: 0.4038
Epoch 9/25
11/11 - 0s - 5ms/step - categorical_accuracy: 0.9429 - loss: 0.3754 - val_categorical_accuracy: 0.8667 - val_loss: 0.3711
Epoch 10/25
11/11 - 0s - 5ms/step - categorical_accuracy: 0.9429 - loss: 0.3470 - val_categorical_accuracy: 0.9556 - val_loss: 0.3201
Epoch 11/25
11/11 - 0s - 5ms/step - categorical_accuracy: 0.9429 - loss: 0.3175 - val_categorical_accuracy: 0.8889 - val_loss: 0.3179
Epoch 12/25
11/11 - 0s - 5ms/step - categorical_accuracy: 0.9714 - loss: 0.2894 - val_categorical_accuracy: 0.9556 - val_loss: 0.2833
Epoch 13/25
11/11 - 0s - 7ms/step - categorical_accuracy: 0.9714 - loss: 0.2730 - val_categorical_accuracy: 0.9556 - val_loss: 0.2693
Epoch 14/25
11/11 - 0s - 5ms/step - categorical_accuracy: 0.9714 - loss: 0.2531 - val_categorical_accuracy: 0.9556 - val_loss: 0.2485
Epoch 15/25
11/11 - 0s - 5ms/step - categorical_accuracy: 0.9810 - loss: 0.2375 - val_categorical_accuracy: 0.9556 - val_loss: 0.2349
Epoch 16/25
11/11 - 0s - 4ms/step - categorical_accuracy: 0.9714 - loss: 0.2262 - val_categorical_accuracy: 0.9556 - val_loss: 0.2308
Epoch 17/25
11/11 - 0s - 5ms/step - categorical_accuracy: 0.9810 - loss: 0.2121 - val_categorical_accuracy: 0.9556 - val_loss: 0.2097
Epoch 18/25
11/11 - 0s - 5ms/step - categorical_accuracy: 0.9619 - loss: 0.2099 - val_categorical_accuracy: 0.9556 - val_loss: 0.2063
Epoch 19/25
11/11 - 0s - 4ms/step - categorical_accuracy: 0.9810 - loss: 0.1897 - val_categorical_accuracy: 0.9556 - val_loss: 0.1958
Epoch 20/25
11/11 - 0s - 4ms/step - categorical_accuracy: 0.9714 - loss: 0.1799 - val_categorical_accuracy: 0.9556 - val_loss: 0.1908
Epoch 21/25
11/11 - 0s - 4ms/step - categorical_accuracy: 0.9810 - loss: 0.1695 - val_categorical_accuracy: 0.9556 - val_loss: 0.1751
Epoch 22/25
11/11 - 0s - 5ms/step - categorical_accuracy: 0.9810 - loss: 0.1593 - val_categorical_accuracy: 0.9556 - val_loss: 0.1753
Epoch 23/25
11/11 - 0s - 6ms/step - categorical_accuracy: 0.9524 - loss: 0.1627 - val_categorical_accuracy: 0.9778 - val_loss: 0.1563
Epoch 24/25
11/11 - 0s - 5ms/step - categorical_accuracy: 0.9714 - loss: 0.1562 - val_categorical_accuracy: 0.9556 - val_loss: 0.1564
Epoch 25/25
11/11 - 0s - 6ms/step - categorical_accuracy: 0.9810 - loss: 0.1407 - val_categorical_accuracy: 0.9556 - val_loss: 0.1474

In [433]:
# visualizziamo la accuracy finale facendo il testing (in realtà lo stiamo rieseguendo)
iris_model.evaluate(x_t, y_t, batch_size=10, return_dict = True, verbose = 0)

{'categorical_accuracy': 0.9555555582046509, 'loss': 0.1473533809185028}